{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <form action="immortal/" method="POST">
        {% csrf_token %}
        <button type="submit">Block</button>
    </form>
    <br>
    <form action="mortal/" method="POST">
        {% csrf_token %}
            <button type="submit">Unblock</button>
    </form>
    <br>
    <form action="resul/" method="POST">
        {% csrf_token %}
            <button type="submit">Result</button>
    </form>
    <br>
    {{ block.super }}
{% endblock %}